/* Search Bar Starts */
.search-input-bar {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 2em;
}

.search-input {
    background: white;
    border-right: 1px solid #1b1f2238;
}

.search-input i {
    padding: 0px 10px;
}

.search-button {
    background: #003486 !important;
    border-radius: 0px;
    height: 4em !important;
    border: 1px solid #002560;
    outline: 0 !important;
    border-style: none;
    font-style: normal;
    font-weight: 600;
}

/* Search Bar Ends */

/* Main Background Starts */
.typewrite>.wrap {
    border-right: 0.08em solid #fff
}

.main-background-wrapper {
    background-image: url("../../assets/Background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main-background {
    padding: 0 5em;
    width: 100%;
}

.main-background h1 {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1.8em;
}

#typing-element {
    color: #ffc106;
}

.main-background h4 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-right: 50px;
}

/* Main Background Ends */


/* Top Section Starts */
.carousel_item {
    margin: 3em 10px;
    border-radius: 20px;
    background: #FFF;
    border: 1px solid #D4D4D8;
    background: #FFF;
    box-shadow: unset;
    cursor: pointer;
}

.carousel_item:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px -2px #80808080;
}

.carousel__icon {
    transform: scale(3);
    fill: #C0C0C0;
}

.carousel__prev,
.carousel__next {
    background: transparent;
    margin: 0em -1em;
}

.carousel_item_text {
    font-size: 14px;
    margin: 0px;
    color: #5E6282;
    line-height: unset;
    text-align: center;
    padding: 14px;
    height: 5em;
}


.top-itineraries,
.top-destinations,
.why-choose-uss {
    width: 90%;
    margin: 0 auto;
    position: relative;
}


.top-itineraries h5,
.top-destinations h5,
.blogs h5 {
    color: #121212;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 1em auto;
    margin-bottom: 0px;
}

.top-destinations h5 {
    margin-top: 10px;
}

.top-itineraries img {
    height: 20em;
    width: 100%;
    background-color: lightgray;
    background-position-x: 0%, 0.897px;
    background-position-y: 0%, -56.714px;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, scroll;
    background-size: auto, 100.016% 130.348%;
    background-origin: padding-box, padding-box;
    background-clip: border-box, border-box;
}


.itineraries-free-badge::after {
    position: absolute;
    content: '';
    right: -3px;
    top: -3px;
    background-image: url("../icons/free-tab-badge.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 42px;
}

.top-destinations-items {
    margin: 3em 8px;
    background: #FFF;
    box-shadow: unset;
}

.top-destinations img {
    border-radius: 10px !important;
    background: linear-gradient(180deg, #F29C72 0%, rgba(255, 255, 255, 0.00) 100%);
    mix-blend-mode: multiply;
    object-fit: cover;
    height: 22em;
}

.top-destinations_item_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: #5E6282;
    padding: 10px 0px;
}

.top-destinations_item_text div:nth-child(1) {
    color: #25233A;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top-destinations_item_text i {
    margin-right: 5px;
}


.top-destinations_item_text2 {
    text-align: left;
}



.top-destinations_item_text2 div:nth-child(1) {
    color: #868383;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top-destinations_item_text2 button {
    padding: 5px 10px;
    border-radius: 5px;
    background: #004ECB !important;
    text-transform: initial;
    margin-top: 10px;
}

.top-destinations_item_bottom_text {
    color: #14183E;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    text-transform: capitalize;
    width: 486px;
    margin: 0 auto;
}

.decore {
    position: absolute;
    right: -45px;
    bottom: 5px;
}

/* Top Section Ends */

/* Why Us Starts */
.why-choose-uss {
    background-color: #fff;
}


.why-choose-uss h3 {
    color: #121212;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.why-choose-uss h4 {
    color: #121212;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */
    letter-spacing: 0.15px;
}

.why-choose-uss-sublist {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.choose-us-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-us-images img {
    width: 100%;
    margin-top: 4em;
}

.why-choose-uss-sublist .q-item__label {
    color: #121212;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.why-choose-uss-sublist .q-item {
    border-radius: 10px;
    background: #FFF;
    display: flex;
    padding: 18px 24px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.why-choose-uss-sublist .q-item:hover {
    box-shadow: 0px 16px 24px 0px rgba(96, 97, 112, 0.12), 0px 2px 8px 0px rgba(40, 41, 61, 0.02);
}

.why-choose-uss-sublist .q-item>div:first-child {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px rgba(96, 97, 112, 0.16), 0px 2px 4px 0px rgba(40, 41, 61, 0.04);
}


.why-choose-uss-sublist .q-item__label--caption .text-caption {
    color: #5E6282;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.5%;
}

/* Why Us Ends */


/* Testimonials Starts */
.testimonials h5 {
    font-size: 50px;
    font-weight: 500;
    width: 36%;
    margin: 1em auto;
    line-height: 107%;
}

.testimonials>svg {
    position: absolute;
    left: 0;
    height: 35em;
}

.testimonials_carousel_item {
    padding: 3em;
}


.testimonials_carousel_item>div {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 12px 24px 0px rgba(255, 167, 55, 0.06);
    padding: 2em 3em;
}

.testimonials_carousel_item>div>img {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    position: absolute;
    right: 6px;
    top: -26px;
}

.testimonials_carousel_item>div>div:nth-child(2) {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 127%;
    padding: 0px;
}

.testimonials_carousel_item>div>div:nth-child(3) {
    text-align: center;
}

.testimonials_carousel_item>div>div:nth-child(4) {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 127%;
    padding: 0;
}

.testimonials_carousel_item.carousel__slide--active>div {
    border: 3px solid #23BDEE;
    transform: scale(1.1);
}

.testimonials_carousel_item.carousel__slide--next>div,
.testimonials_carousel_item.carousel__slide--prev>div {
    border-radius: 13.467px;
    border: 1.5px solid #FFA737;
    transform: scale(0.8);
}

.testimonials .carousel__pagination-button {
    background: #FFEBD1;
    margin: 4px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.testimonials .carousel__pagination-button--active {
    background: #FFA737;
    position: relative;
    width: 25px;
    border-radius: 5px;
}

/* .testimonials .carousel__pagination-button--active::after {
    position: absolute;
    content: '';
    top: 0px;
    right: 0px;
    background: #FFA737;
    width: 30px;
    height: 10px;
    border-radius: 5px;
} */

/* Testimonials Ends */


/* Blogs Start */
.blogs p {
    color: #76797A;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.blogs {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.blogs_item {
    margin: 3em 1em;
    border-radius: 15.385px;
    background: #FFF;
    box-shadow: 0px 7.692306995391846px 15.384613990783691px 0px rgba(0, 0, 0, 0.20);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.blogs_item>span {
    position: absolute;
    right: 14px;
    top: 14px;
    color: #121212;
    border-radius: 6px;
    background-color: #FFF;
    display: inline-flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 183.3%;
    z-index: 1;
}

.blogs_item:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px -2px #80808080;
}

.blogs_item>img {
    height: 14em;
    background: linear-gradient(180deg, #F29C72 0%, rgba(255, 255, 255, 0.00) 100%);
    mix-blend-mode: multiply;
    object-fit: cover;
}

.blogs_item>div {
    height: 10.5em;
    position: relative;
}

.blogs_item>div>h1 {
    color: #141414;
    font-size: 13.846px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    text-transform: capitalize;
}

.blogs_item>div>p {
    color: #868383;
    font-size: 11.538px;
    font-style: normal;
    font-weight: 400;
    line-height: 183.3%;
    text-align: left;
}

.blogs_item>div>p:nth-child(3) {
    position: absolute;
    bottom: 0px;
}

.blogs_item_tag {
    color: #FFA902;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.blogs_item_author {
    color: #141414;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
}

/* Blogs Ends */

/* Subscribe Start */

.subscribe-wrapper {
    width: 82%;
    margin: 0 auto;
    position: relative;
}

.subscribe-wrapper>img {
    position: absolute;
    right: -100px;
    bottom: 0;
}

.subscribe-description {
    color: #5E6282;
    text-align: center;
    font-family: Poppins;
    font-size: 33px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
}

/* Subscribe Ends */


/* Footer Start */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}

.footer-bottom h3 {
    color: #E7E7E7;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.205px;
    padding: 0px;
    margin: 0px;
}

.footer-bottom>h3:nth-child(2) {
    opacity: 0.5;
}

.footer-bottom>h3:nth-child(1),
.footer-bottom>div {
    flex-grow: 1;
    flex-basis: 0;
}

.footer-bottom>div {
    text-align: end;
}

.footer-bottom div h3 {
    display: inline-block;
    margin-left: 24px;

}

.footer-middle h3 {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.232px;
    background: linear-gradient(135deg, #F9EC7D 0%, #F5B100 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.footer-top h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.32px;
    text-transform: uppercase;
    margin-top: 0px;
}

.footer-top a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer-top ul {
    padding: 0px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}


.footer-top-left ul {
    opacity: 0.6;
    width: 320px;
}

.footer-top-right {
    display: flex;
}

.footer-top-right>div {
    padding: 0px 30px;
}

.footer-top-right>div:last-child {
    padding-right: 0px;
}

footer {
    background: #0c111f;
    padding: 0em 5em;
    margin-top: 1em;
}

footer ul {
    list-style: none;
}

.social-media-list {
    display: flex;
    gap: 0.5rem;
    margin-left: -0.5rem;
}

.social-media-list a {
    padding: 0.5em;
    color: var(--color-smooth);
    display: flex;
    border-radius: 0.3em;
    transition: all 0.25s ease 0s;
}

.social-media-list a:hover,
.social-media-list a:focus {
    color: var(--color);
    background: #ffffff1a;
}

.social-media-list svg {
    width: 1.5em;
    height: 1.5em;
    transition: all 0.25s ease 0s;
}

/* Footer Ends */

.q-dialog__backdrop {
    background: rgba(0, 0, 0, 0.83);
}

/* Mobile Handle Starts */
@media all and (max-width: 600px) {
    .search-input-bar {
        box-sizing: content-box;
        padding: 10px;
        background-color: white;
        margin-top: 1em;
        margin-bottom: 2em;
    }

    .search-input {
        border-right: none;
    }

    .search-button {
        width: 100%;
        height: unset !important;
    }

    .main-background-wrapper {
        background-image: unset;
        background-color: #003fa3;
        padding: 0px 30px;
    }

    .main-background {
        background: white;
        padding: 1em 0em;
    }

    .main-background>div {
        margin: -15px -30px;
        padding: 15px 30px;
        background: white;
        height: 18em;
    }

    .main-background h1 {
        color: #111827;
        margin-top: unset;
        padding-right: unset;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: unset;
    }

    .main-background h4 {
        color: #334155;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: unset;
        padding-right: unset;
        letter-spacing: unset;
    }

    .top-itineraries,
    .top-destinations,
    .why-choose-uss {
        width: 100%;
        padding: 16px 30px;
    }

    .top-itineraries h5,
    .top-destinations h5,
    .blogs h5,
    .why-choose-uss h3,
    .testimonials h5 {
        color: #334155;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 107%;
        text-align: center;
        width: 90%;
    }

    .carousel__prev,
    .carousel__next {
        margin: 0em;
    }

    .decore {
        right: -24px;
        bottom: -44px;
    }

    .why-choose-uss {
        padding: 16px 30px;
    }

    .why-choose-uss>div:nth-child(1) {
        margin: 0em;
    }

    .why-choose-uss>div>div:nth-child(1) {
        width: 100%;
    }

    .why-choose-uss>div>div:nth-child(2),
    .why-choose-uss>div>div:nth-child(3) {
        display: none;
    }

    .why-choose-uss h4 {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%;
    }

    .why-choose-uss-sublist {
        grid-template-columns: auto auto;
    }

    .why-choose-uss-sublist .q-item__label {
        font-size: 12px;
    }

    .why-choose-uss-sublist .q-item {
        padding: 8px 8px;
        align-items: center;
        gap: 10px;
    }

    .testimonials>svg {
        display: none;
    }

    .testimonials_carousel_item {
        padding: 2em 0em;
    }

    .testimonials_carousel_item>div {
        padding: 2em 1em;
    }

    .testimonials_carousel_item>div>div:nth-child(2) {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 127%;
    }

    .testimonials_carousel_item>div>div:nth-child(3)>div {
        font-size: 14px !important;
    }

    .testimonials_carousel_item>div>div:nth-child(4) {
        font-size: 13.029px;
        font-style: normal;
        font-weight: 500;
        line-height: 127%;
    }

    .blogs {
        width: 100%;
    }

    .blogs_item>div {
        height: auto;
    }

    .blogs_item>div>h1 {
        font-size: 12px;
    }

    .blogs_item>div>p {
        font-size: 11px;
        line-height: unset;
    }

    .blogs_item>div>p:nth-child(3) {
        font-size: 10px;
        position: inherit;
    }

    .subscribe {
        height: 15em;
    }

    .subscribe-wrapper {
        width: 100%;
        padding: 0;
    }

    .subscribe-description {
        display: none;
    }

    .subscribe-left-image,
    .subscribe-right-image {
        height: 8em;
        width: 8em;
    }

    .subscribe-wrapper>img {
        right: 0px;
        z-index: 1;
        height: 8em;
    }

    footer {
        margin-top: 0em;
        padding: 0 30px;
    }

    .footer-top {
        flex-direction: column;
        text-align: center;
    }

    .footer-top-left {
        text-align: center;
    }

    .footer-top-right>div {
        padding: 0px 9px;
        padding-top: 1.5em;
    }

    .footer-middle {
        display: flex;
        justify-content: center;
    }

    .footer-middle h3 {
        margin: 4px;
        font-size: 18px;
        margin-right: 1em;

    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        padding: 10px 0px;
        align-items: center;
    }

    .footer-bottom div h3 {
        margin: 0px 10px;
        font-size: 12px;
    }

    .footer-bottom h3 {
        padding: 12px 0px;
    }

    .base-header-toolbar {
        padding: 1.5em 1em;
    }

    .base-header img {
        height: 1.5em;
    }

}

/* Mobile Handle Ends */


.lead_button_container{
    display: flex;
    margin-left: 12px;
}

.lead_button_container a{
    display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  background: #25d366;
  color: white;
  cursor: pointer;
  width: 14em;
  border: none;
  text-decoration: none;
  margin: 24px 12px;
}

.lead_button_container .book_meet{
    background: #ffc106 !important;
  width: 18em !important;
  color: black !important;
}